@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
}

/* src/index.css or src/App.css */
@font-face {
  font-family: "helvetica"; /* Replace with your font family name */
  src: url("./assets/fonts/Helvetica.ttf") format("truetype"); /* Adjust the path and format */
  font-weight: normal; /* You can specify different font weights */
  font-style: normal; /* You can specify italic, oblique, etc. */
}

.markdown-container .content {
  margin-bottom: 30px;
}

.markdown-container .content p {
  margin-bottom: 20px;
}

.markdown-container .content h1,
.markdown-container .content h2,
.markdown-container .content h3 {
  margin-bottom: 20px;
}

.markdown-container .content ul {
  margin-bottom: 20px;
}

.markdown-container .content blockquote {
  margin: 20px 0;
  padding-left: 20px;
  border-left: 5px solid #00c6c6;
}

.markdown-container .content a {
  color: #00c6c6;
  text-decoration: none;
}

.markdown-container .content a:hover {
  text-decoration: underline;
}
